[submodule "vendor/pegged"]
	path = vendor/pegged
	url = git://github.com/PhilippeSigaud/Pegged.git
[submodule "vendor/openssl"]
	path = vendor/openssl
	url = git://github.com/D-Programming-Deimos/openssl.git
